*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins';
}

/* Start of Navbar */
.navbar-container{
    height: 50px;
    padding-top: 20px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0);
}

.navbar-logo a{
    text-decoration: none;
    color: #34495E;
    font-size: 24px;
    font-weight: 800;
    padding-left: 133px;
    float: left;
}

.navbar-text{
    float: right;
    font-weight: bolder;
    padding-right: 156px;
}

.navbar-text ul li a{
    font-size: 18px;
    color: #34495E;
    text-decoration: none;
    padding: 14px 16px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    gap: 20px; 
}

.navbar-container a:hover{
    color: #07AFD2;
    transition: 0.3s ease;
}
/* End of Navbar */

/* Start of Hero Section */
.hero-container{
    height: 534px;
    background: url("assets/image 14.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text{
    color: #f8f8ff;
}

.hero-text h1{
    font-size: 44px;
    font-weight: bolder;
}

.hero-text h2{
    font-size: 28px;
    font-weight: lighter;
}

.hero-overlay{
    background-image: url();
}
/* End of Hero Section */

/* Start of Intro Section */
.intro-container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-mascot{
    position: absolute;
    top: -70px;
}

.intro-textBox{
    width: 954px;
    height: 364px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #34495E;
    border-radius: 35px;
    color: #f8f8ff;
    font-size: 24;
    font-weight: 500;
    text-align: center;
    position: relative;
}

/* End of Into Section */

/* Start of Company Intro Section */

.comp-container{
    width: 100%;
    height: 1100px;
}

.comp-introHeader-container{
    width: 698px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 582px;
    padding-right: 582px;
    color: #07AFD2;
}

.comp-introHeader-container h1{
    font-size: 38px;
    font-weight: bolder;
}



.intro-grid-container{
    display: grid;
    grid-auto-rows: 60px;
    grid-gap: 200px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    width: 1440px;
    height: 562px;
    margin-top: 51px;
    padding-left: 143px;
    padding-right: 143px;
}

.intro-grid-container2{
    display: grid;
    grid-auto-rows: 60px;
    grid-gap: 200px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    width: 1440px;
    height: 562px;
    margin-top: -100px;
    padding-left: 143px;
    padding-right: 143px;
}

.grid-item-left2{
    width: 740px;
    text-align: justify;
}

.grid-item-right{
    text-align: justify;
}
/* End of Company Intro Section */

/* Start of Contact Section */
.contact-grid-container{
    display: flex;
    width: auto;
    height: 1000px;
    justify-content: center;
    align-items: center;
    background-color: #f8f8ff;
}

.contact-card{
    width: 1500px;
    height: 700px;
    border-style: solid;
    border-width: 2px;
    border-color: #24262b;
}

.maps{
    padding-left: 100px;
    padding-top: 100px;
}
.contact{
    width: 700px;
    padding-left: 800px;
    margin-top: -460px;
    text-align: justify;
    height: 600px;
}

.contact h4{
    font-size: 30px;
    font-weight: bolder;
    color: #34495E;
    text-transform: capitalize;
    padding-bottom: 5px;
    position: relative;
}

.contact h5{
    font-size: 20px;
    font-weight: 800;
    color: #07AFD2;
    text-transform: capitalize;
    padding-bottom: 5px;
    position: relative;
}



/* End Section */

/* Start of footer Section */

/* Start of Footer */
.footer-container{
    width: 100%;
    height: 528px;
    background-color: #34495E;
    margin: auto;
    /* display: flex;
    flex-flow: row wrap; */
}

.footer-logo{
    display: flex;
    padding-bottom: 40px;
    padding-top: 76px;
    padding-left: 164px;
    color: #f8f8ff;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

ul{
    list-style: none;
}

.footer-col{
    width: 15%;
    padding: 0 15px;
    padding-left: 164px;
}

.footer-col h4{
    font-size: 18px;
    font-weight: bolder;
    color: #f8f8ff;
    text-transform: capitalize;
    padding-bottom: 35px;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}


.footer-col ul li a{
    font-size: 16px;
    font-weight: lighter;
    text-transform: capitalize;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.ul-2 li p{
    font-size: 16px;
    color: #bbbbbb;
    font-weight: lighter;
    text-transform: capitalize;
    display: block;
    margin-top: -30px;
    margin-left: 20px;
    padding-bottom: 10px;
}

.footer-col ul-2 li img{
    width: 20px;
}

.ul-2 img{
    width: 20px;
}

.social-link{
    width: 200px;
    display: inline-block;
    list-style: none;
    color: #f8f8ff;
}

.social-link .icon{
    color: #f8f8ff;
    background-color: #f8f8ff;
}

.icon p{
    margin-top: -25px;
    margin-left: 20px;
    padding-bottom: 10px;
}

.divider{
    width: 1112px;
    height: 2px;
    background-color: #f8f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    margin-left: 350px;
}

.legal{
    color: #f8f8ff;
    font-size: 18px;
    font-weight: lighter;
    margin-left: 735px;
    margin-top: 46px;
}

/* hover effect */
.footer-col ul li a:hover{
    color: #f8f8ff;
    padding-left: 8px;
}